<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="layout :: layouthead"></head>

<body class="no-skin">
    <script src="assets/js/highcharts.js"></script>

    <div id="navbar" class="navbar navbar-default ace-save-state" th:include="layout :: navbar"></div>

    <div class="main-container ace-save-state" id="main-container">
        <div id="sidebar" class="sidebar responsive ace-save-state" th:include="layout :: sidebar">
        </div>

        <!-- 这里是每个页面自定义内容 -->
        <div class="main-content">
            <div class="main-content-inner">
                <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                    <ul class="breadcrumb">
                        <li>
                            <i class="ace-icon fa fa-home home-icon"></i>
                            <a href="index">Home</a>
                        </li>
                        <li class="">
                            <a href="hregion">RegionServer信息</a>
                        </li>
                        <li class="active">
                            <a href="hregionkpi">RegionServer性能图</a>
                        </li>
                    </ul><!-- /.breadcrumb -->
                </div>

                <br/>
                <div class="col-xs-12 col-sm-12 widget-container-col">
                    <form class="form-search" name="form" method="get" action="/mysqlslowlog/slowdata?">
			            <span class="input">
				            <label>HostName:</label>
                            <input th:value="${hostname}" type="text" name="hostname" placeholder="主机名" class="nav-search-input" id="nav-hostname" autocomplete="on"/>
			            </span>

                        <span class="input">
				            <label>StartTime:</label>
                            <input th:value="${startTime}" type="text" name="starttime" placeholder="起始时间" class="nav-search-input" id="nav-starttime" autocomplete="on"/>
                        </span>

                        <span class="input">
				            <label>EndTime:</label>
                            <input th:value="${endTime}" type="text" name="endtime" placeholder="截止时间" class="nav-search-input" id="nav-endtime" autocomplete="on"/>
			            </span>
                    </form>
                </div>


                <br/>
                <div class="col-xs-12 col-sm-12 widget-container-col" id="widget-container-col-2">
                    <span class="help-inline col-xs-2 col-sm-2">
                        <label class="middle">
                            <input class="ace" type="checkbox" onclick="showimg(this, 'hregion')"  id="qps"/>
                            <span class="lbl" style="position: absolute;"> QPS </span>
                        </label>
	                </span>
                    <span class="help-inline col-xs-2 col-sm-2">
                        <label class="middle">
                            <input class="ace" type="checkbox" onclick="showimg(this,'hregion')"  id="read"/>
                            <span class="lbl" style="position: absolute;"> Read </span>
                        </label>
	                </span>
                    <span class="help-inline col-xs-2 col-sm-2">
                        <label class="middle">
                            <input class="ace" type="checkbox" onclick="showimg(this,'hregion')" id="write"/>
                            <span class="lbl" style="position: absolute;"> Write </span>
                        </label>
	                </span>
                    <span class="help-inline col-xs-2 col-sm-2">
                        <label class="middle">
                            <input class="ace" type="checkbox" onclick="showimg(this,'hregion')" id="readRequestCount"/>
                            <span class="lbl" style="position: absolute;"> ReadRequestCount </span>
                        </label>
	                </span>
                    <span class="help-inline col-xs-2 col-sm-2">
                        <label class="middle">
                            <input class="ace" type="checkbox" onclick="showimg(this,'hregion')" id="writeRequestCount"/>
                            <span class="lbl" style="position: absolute;"> WriteRequestCount </span>
                        </label>
	                </span>
                    <span class="help-inline col-xs-2 col-sm-2">
                        <label class="middle">
                            <input class="ace" type="checkbox" onclick="showimg(this,'hregion')" id="totalRequestCount"/>
                            <span class="lbl" style="position: absolute;"> TotalRequestCount </span>
                        </label>
	                </span>
                    <span class="help-inline col-xs-2 col-sm-2">
                        <label class="middle">
                            <input class="ace" type="checkbox" onclick="showimg(this,'hregion')" id="xxx1"/>
                            <span class="lbl" style="position: absolute;"> xxx </span>
                        </label>
	                </span>
                    <span class="help-inline col-xs-2 col-sm-2">
                        <label class="middle">
                            <input class="ace" type="checkbox" onclick="showimg(this,'hregion')" id="xxx2"/>
                            <span class="lbl" style="position: absolute;"> xxx </span>
                        </label>
	                </span>
                    <span class="help-inline col-xs-2 col-sm-2">
                        <label class="middle">
                            <input class="ace" type="checkbox" onclick="showimg(this,'hregion')" id="xxx3"/>
                            <span class="lbl" style="position: absolute;"> xxx </span>
                        </label>
	                </span>
                </div>

                <div id="imgsdiv" class="col-xs-12"><hr/></div>


            </div>
        </div><!-- /.main-content -->
    </div>

    <script>
        /**
         * Created by yuanxiaobin on 16/12/13.
         */

        function showimg1(obj, type){

            var kpi = obj.id;
            var type = type;
            var starttime = $("#nav-starttime").val();
            var endtime   = $("#nav-endtime").val();
            var hostname  = $("#nav-hostname").val();
        }

    </script>

</body>

</html>