<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="layout :: layouthead"></head>

<body class="no-skin">
    <div id="navbar" class="navbar navbar-default ace-save-state" th:include="layout :: navbar"></div>

    <div class="main-container ace-save-state" id="main-container">
        <div id="sidebar" class="sidebar responsive ace-save-state" th:include="layout :: sidebar">
        </div>

        <!-- 这里是每个页面自定义内容 -->
        <div class="main-content">
            <div class="main-content-inner">
                <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                    <ul class="breadcrumb">
                        <li>
                            <i class="ace-icon fa fa-home home-icon"></i>
                            <a href="index">Home</a>
                        </li>
                        <li class="">
                            <a href="hregion">RegionServer信息</a>
                        </li>
                        <li class="active">
                            <a href="hregionkpi">RegionServer性能图</a>
                        </li>
                    </ul><!-- /.breadcrumb -->
                </div>


                <div class="col-xs-12 col-sm-12 widget-container-col" id="widget-container-col-2">
                    <div>
                        <h1 th:text="${hostname}"></h1>
                    </div>
                    <span class="help-inline col-xs-2 col-sm-2">
                        <label class="middle">
                            <input class="ace" type="checkbox" onclick="showimg(this)" id="qps"/>
                            <span class="lbl" style="position: absolute;"> QPS </span>
                        </label>
	                </span>
                    <span class="help-inline col-xs-2 col-sm-2">
                        <label class="middle">
                            <input class="ace" type="checkbox" onclick="showimg(this)" id="read"/>
                            <span class="lbl" style="position: absolute;"> Read </span>
                        </label>
	                </span>
                    <span class="help-inline col-xs-2 col-sm-2">
                        <label class="middle">
                            <input class="ace" type="checkbox" onclick="showimg(this)" id="write"/>
                            <span class="lbl" style="position: absolute;"> Write </span>
                        </label>
	                </span>
                    <span class="help-inline col-xs-2 col-sm-2">
                        <label class="middle">
                            <input class="ace" type="checkbox" onclick="showimg(this)" id="readRequestCount"/>
                            <span class="lbl" style="position: absolute;"> ReadRequestCount </span>
                        </label>
	                </span>
                    <span class="help-inline col-xs-2 col-sm-2">
                        <label class="middle">
                            <input class="ace" type="checkbox" onclick="showimg(this)" id="writeRequestCount"/>
                            <span class="lbl" style="position: absolute;"> WriteRequestCount </span>
                        </label>
	                </span>
                    <span class="help-inline col-xs-2 col-sm-2">
                        <label class="middle">
                            <input class="ace" type="checkbox" onclick="showimg(this)" id="totalRequestCount"/>
                            <span class="lbl" style="position: absolute;"> TotalRequestCount </span>
                        </label>
	                </span>
                    <span class="help-inline col-xs-2 col-sm-2">
                        <label class="middle">
                            <input class="ace" type="checkbox" onclick="showimg(this)" id="xxx1"/>
                            <span class="lbl" style="position: absolute;"> xxx </span>
                        </label>
	                </span>
                    <span class="help-inline col-xs-2 col-sm-2">
                        <label class="middle">
                            <input class="ace" type="checkbox" onclick="showimg(this)" id="xxx2"/>
                            <span class="lbl" style="position: absolute;"> xxx </span>
                        </label>
	                </span>
                    <span class="help-inline col-xs-2 col-sm-2">
                        <label class="middle">
                            <input class="ace" type="checkbox" onclick="showimg(this)" id="xxx3"/>
                            <span class="lbl" style="position: absolute;"> xxx </span>
                        </label>
	                </span>
                </div>

                <div id="imgsdiv" class="col-xs-12"><hr/></div>


            </div>
        </div><!-- /.main-content -->
    </div>

</body>

</html>