<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="layout :: layouthead"></head>

<body class="no-skin">
    <script src="assets/js/highcharts.js"></script>

    <div id="navbar" class="navbar navbar-default ace-save-state" th:include="layout :: navbar"></div>

    <div class="main-container ace-save-state" id="main-container">
        <div id="sidebar" class="sidebar responsive ace-save-state" th:include="layout :: sidebar">
        </div>

        <!-- 这里是每个页面自定义内容 -->
        <div class="main-content">
            <div class="main-content-inner">
                <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                    <ul class="breadcrumb">
                        <li>
                            <i class="ace-icon fa fa-home home-icon"></i>
                            <a href="index">Home</a>
                        </li>
                        <li class="">
                            <a href="hregion">RegionServer信息</a>
                        </li>
                        <li class="active">
                            <a href="hregionkpi">RegionServer性能图</a>
                        </li>
                    </ul><!-- /.breadcrumb -->
                </div>

                <br/>
                <div class="col-xs-12 col-sm-12 widget-container-col">
                    <form class="form-search" name="form" method="get" action="/mysqlslowlog/slowdata?">
			            <span class="input">
				            <label>HostName:</label>
                            <input th:value="${hostname}" type="text" name="hostname" placeholder="主机名" class="nav-search-input" id="nav-hostname" autocomplete="on"/>
			            </span>

                        <span class="input">
				            <label>StartTime:</label>
                            <input th:value="${startTime}" type="text" name="starttime" placeholder="起始时间" class="nav-search-input" id="nav-starttime" autocomplete="on"/>
                        </span>

                        <span class="input">
				            <label>EndTime:</label>
                            <input th:value="${endTime}" type="text" name="endtime" placeholder="截止时间" class="nav-search-input" id="nav-endtime" autocomplete="on"/>
			            </span>
                    </form>
                </div>


                <br/>
                <div class="col-xs-12 col-sm-12 widget-container-col" id="checklist">
                    <span class="help-inline col-xs-2 col-sm-2">
                        <label class="middle">
                            <input class="ace" type="checkbox" checked="checked" onclick="showimg(this, 'hregion')"  id="qps"/>
                            <span class="lbl" style="position: absolute;"> QPS </span>
                        </label>
	                </span>
                    <span class="help-inline col-xs-2 col-sm-2">
                        <label class="middle">
                            <input class="ace" type="checkbox" checked="checked" onclick="showimg(this,'hregion')"  id="read"/>
                            <span class="lbl" style="position: absolute;"> Read </span>
                        </label>
	                </span>
                    <span class="help-inline col-xs-2 col-sm-2">
                        <label class="middle">
                            <input class="ace" type="checkbox" checked="checked" onclick="showimg(this,'hregion')" id="write"/>
                            <span class="lbl" style="position: absolute;"> Write </span>
                        </label>
	                </span>
                    <span class="help-inline col-xs-2 col-sm-2">
                        <label class="middle">
                            <input class="ace" type="checkbox" onclick="showimg(this,'hregion')" id="readRequestCount"/>
                            <span class="lbl" style="position: absolute;"> ReadRequestCount </span>
                        </label>
	                </span>
                    <span class="help-inline col-xs-2 col-sm-2">
                        <label class="middle">
                            <input class="ace" type="checkbox" onclick="showimg(this,'hregion')" id="writeRequestCount"/>
                            <span class="lbl" style="position: absolute;"> WriteRequestCount </span>
                        </label>
	                </span>
                    <span class="help-inline col-xs-2 col-sm-2">
                        <label class="middle">
                            <input class="ace" type="checkbox" onclick="showimg(this,'hregion')" id="totalRequestCount"/>
                            <span class="lbl" style="position: absolute;"> TotalRequestCount </span>
                        </label>
	                </span>
                    <span class="help-inline col-xs-2 col-sm-2">
                        <label class="middle">
                            <input class="ace" type="checkbox" onclick="showimg(this,'hregion')" id="regionCount"/>
                            <span class="lbl" style="position: absolute;"> RegionCount </span>
                        </label>
	                </span>
                    <span class="help-inline col-xs-2 col-sm-2">
                        <label class="middle">
                            <input class="ace" type="checkbox" onclick="showimg(this,'hregion')" id="storeFileSize"/>
                            <span class="lbl" style="position: absolute;"> StoreFileSize </span>
                        </label>
	                </span>
                    <span class="help-inline col-xs-2 col-sm-2">
                        <label class="middle">
                            <input class="ace" type="checkbox" onclick="showimg(this,'hregion')" id="hlogFileSize"/>
                            <span class="lbl" style="position: absolute;"> HlogFileSize </span>
                        </label>
	                </span>
                    <span class="help-inline col-xs-2 col-sm-2">
                        <label class="middle">
                            <input class="ace" type="checkbox" onclick="showimg(this,'hregion')" id="storeFileCount"/>
                            <span class="lbl" style="position: absolute;"> StoreFileCount </span>
                        </label>
	                </span>
                    <span class="help-inline col-xs-2 col-sm-2">
                        <label class="middle">
                            <input class="ace" type="checkbox" onclick="showimg(this,'hregion')" id="hlogFileCount"/>
                            <span class="lbl" style="position: absolute;"> HlogFileCount </span>
                        </label>
	                </span>
                    <span class="help-inline col-xs-2 col-sm-2">
                        <label class="middle">
                            <input class="ace" type="checkbox" onclick="showimg(this,'hregion')" id="storeCount"/>
                            <span class="lbl" style="position: absolute;"> StoreCount </span>
                        </label>
	                </span>
                    <span class="help-inline col-xs-2 col-sm-2">
                        <label class="middle">
                            <input class="ace" type="checkbox" onclick="showimg(this,'hregion')" id="memStoreSize"/>
                            <span class="lbl" style="position: absolute;"> MemStoreSize </span>
                        </label>
	                </span>
                    <span class="help-inline col-xs-2 col-sm-2">
                        <label class="middle">
                            <input class="ace" type="checkbox" onclick="showimg(this,'hregion')" id="ThreadsWaiting"/>
                            <span class="lbl" style="position: absolute;"> ThreadsWaiting </span>
                        </label>
	                </span>
                    <span class="help-inline col-xs-2 col-sm-2">
                        <label class="middle">
                            <input class="ace" type="checkbox" onclick="showimg(this,'hregion')" id="ThreadsTerminated"/>
                            <span class="lbl" style="position: absolute;"> ThreadsTerminated </span>
                        </label>
	                </span>
                    <span class="help-inline col-xs-2 col-sm-2">
                        <label class="middle">
                            <input class="ace" type="checkbox" onclick="showimg(this,'hregion')" id="MemNonHeapCommittedM"/>
                            <span class="lbl" style="position: absolute;"> MemNonHeapCommittedM </span>
                        </label>
	                </span>
                    <span class="help-inline col-xs-2 col-sm-2">
                        <label class="middle">
                            <input class="ace" type="checkbox" onclick="showimg(this,'hregion')" id="GcTimeMillis"/>
                            <span class="lbl" style="position: absolute;"> GcTimeMillis </span>
                        </label>
	                </span>
                    <span class="help-inline col-xs-2 col-sm-2">
                        <label class="middle">
                            <input class="ace" type="checkbox" onclick="showimg(this,'hregion')" id="MemHeapMaxM"/>
                            <span class="lbl" style="position: absolute;"> MemHeapMaxM </span>
                        </label>
	                </span>
                    <span class="help-inline col-xs-2 col-sm-2">
                        <label class="middle">
                            <input class="ace" type="checkbox" onclick="showimg(this,'hregion')" id="MemHeapUsedM"/>
                            <span class="lbl" style="position: absolute;"> MemHeapUsedM </span>
                        </label>
	                </span>

                    <span class="help-inline col-xs-2 col-sm-2">
                        <label class="middle">
                            <input class="ace" type="checkbox" onclick="showimg(this,'hregion')" id="GcTimeMillisConcurrentMarkSweep"/>
                            <span class="lbl" style="position: absolute;"> GcTMCrtMarkSweep </span>
                        </label>
	                </span>
                    <span class="help-inline col-xs-2 col-sm-2">
                        <label class="middle">
                            <input class="ace" type="checkbox" onclick="showimg(this,'hregion')" id="GcTimeMillisParNew"/>
                            <span class="lbl" style="position: absolute;"> GcTimeMillisParNew </span>
                        </label>
	                </span>
                    <span class="help-inline col-xs-2 col-sm-2">
                        <label class="middle">
                            <input class="ace" type="checkbox" onclick="showimg(this,'hregion')" id="MemHeapCommittedM"/>
                            <span class="lbl" style="position: absolute;"> MemHeapCommittedM </span>
                        </label>
	                </span>
                    <span class="help-inline col-xs-2 col-sm-2">
                        <label class="middle">
                            <input class="ace" type="checkbox" onclick="showimg(this,'hregion')" id="GcCountParNew"/>
                            <span class="lbl" style="position: absolute;"> GcCountParNew </span>
                        </label>
	                </span>
                    <span class="help-inline col-xs-2 col-sm-2">
                        <label class="middle">
                            <input class="ace" type="checkbox" onclick="showimg(this,'hregion')" id="MemNonHeapMaxM"/>
                            <span class="lbl" style="position: absolute;"> MemNonHeapMaxM </span>
                        </label>
	                </span>
                    <span class="help-inline col-xs-2 col-sm-2">
                        <label class="middle">
                            <input class="ace" type="checkbox" onclick="showimg(this,'hregion')" id="GcCountConcurrentMarkSweep"/>
                            <span class="lbl" style="position: absolute;"> GcCntCrtMarkSweep </span>
                        </label>
	                </span>
                    <span class="help-inline col-xs-2 col-sm-2">
                        <label class="middle">
                            <input class="ace" type="checkbox" onclick="showimg(this,'hregion')" id="GcFullCount"/>
                            <span class="lbl" style="position: absolute;"> GcFullCount </span>
                        </label>
	                </span>
                    <span class="help-inline col-xs-2 col-sm-2">
                        <label class="middle">
                            <input class="ace" type="checkbox" onclick="showimg(this,'hregion')" id="GcFullTimeMillis"/>
                            <span class="lbl" style="position: absolute;"> GcFullTimeMillis </span>
                        </label>
	                </span>
                    <span class="help-inline col-xs-2 col-sm-2">
                        <label class="middle">
                            <input class="ace" type="checkbox" onclick="showimg(this,'hregion')" id="ThreadsNew"/>
                            <span class="lbl" style="position: absolute;"> ThreadsNew </span>
                        </label>
	                </span>
                    <span class="help-inline col-xs-2 col-sm-2">
                        <label class="middle">
                            <input class="ace" type="checkbox" onclick="showimg(this,'hregion')" id="ThreadsRunnable"/>
                            <span class="lbl" style="position: absolute;"> ThreadsRunnable </span>
                        </label>
	                </span>
                    <span class="help-inline col-xs-2 col-sm-2">
                        <label class="middle">
                            <input class="ace" type="checkbox" onclick="showimg(this,'hregion')" id="GcCount"/>
                            <span class="lbl" style="position: absolute;"> GcCount </span>
                        </label>
	                </span>
                    <span class="help-inline col-xs-2 col-sm-2">
                        <label class="middle">
                            <input class="ace" type="checkbox" onclick="showimg(this,'hregion')" id="ThreadsTimedWaiting"/>
                            <span class="lbl" style="position: absolute;"> ThreadsTimedWaiting </span>
                        </label>
	                </span>
                    <span class="help-inline col-xs-2 col-sm-2">
                        <label class="middle">
                            <input class="ace" type="checkbox" onclick="showimg(this,'hregion')" id="MemMaxM"/>
                            <span class="lbl" style="position: absolute;"> MemMaxM </span>
                        </label>
	                </span>
                    <span class="help-inline col-xs-2 col-sm-2">
                        <label class="middle">
                            <input class="ace" type="checkbox" onclick="showimg(this,'hregion')" id="MemNonHeapUsedM"/>
                            <span class="lbl" style="position: absolute;"> MemNonHeapUsedM </span>
                        </label>
	                </span>
                </div>

                <div id="imgsdiv" class="col-xs-12"><hr/></div>


            </div>
        </div><!-- /.main-content -->
    </div>

<script>
    $(function()
    {
        $("#checklist").each(function(){
            $("input").each(function() {
                var checked = this.checked;
                if (checked){
                    $("#"+this.id).click();
                    $("#"+this.id).click();
                }
            });
        });

    });
</script>
</body>

</html>